<nav class="bg-white">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 h-32">
        <!-- Titre aligné à gauche -->
        <div class="flex-shrink-0 h-full">
            <a href="{{ path('app_home') }}"><img src="{{ asset('images/logo-bleu2.png') }}" alt="logo" class="h-full"/></a>
        </div>
        
        <!-- Boutons alignés à droite -->
        <div class="flex items-center space-x-4 ml-auto">
            <a href="{{ path('app_login') }}" class="text-black hover:text-blue-700 hover:underline">Se connecter</a>
            <button type="button" onclick="window.location.href='{{ path('app_register') }}'"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                S'inscrire
            </button>
        </div>
    </div>
</nav>
