{# filepath: c:\Users\Nathalie\Desktop\MaieutIC\templates\forum\forums.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Forums</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>
    {{ render(controller('App\\Controller\\NavbarController::navbar')) }}
    <div class="flex flex-row justify-center my-11">
        <div class="bg-[#EEF1F3] m-5 p-2 rounded-lg">
            <ul class="bg-white rounded-lg p-2">
                <div class="inline-block">
                    <h2 class="text-2xl">Categories</h2>
                    <div class="bg-[#99AFDD] h-1 rounded-full my-1 w-full"></div>
                </div>
                {% for forum in forums %}
                    <li>
                        <a><h3>{{ forum.title }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <ul class="bg-[#EEF1F3] m-5 p-5 rounded-lg w-full max-w-5xl">
            <h1 class="text-2xl">Forums</h1>
            {% for forum in forums %}
                <li>
                    <a><h3>{{ forum.title }}</h3></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>