{# filepath: c:\Users\Nathalie\Desktop\MaieutIC\templates\forum\forums.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Forums</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>
    {{ render(controller('App\\Controller\\NavbarController::navbar')) }}
    <h1>Forums</h1>
    <ul>
        {% for forum in forums %}
            <li>
                <a><h3>{{ forum.title }}</h3></a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>